#avStackContainer {
    margin-top: 5em;
    margin-left: 7em;
    max-width: 76%;

    #topAvStackContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #recaveButton {
        margin-left: 1em;
        margin-bottom: 0.5em;
        position: relative;
        right: 1em;
    }

    #avStackNumberContainer {
        background: rgba(255, 255, 255, 0.19);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.8px);
        -webkit-backdrop-filter: blur(7.8px);
        border: 1px solid rgba(255, 255, 255, 0.31);
    
        #avStackNumber {
            font-size: 10em;
            text-align: center;
        }
    }
        
}