#modelName {
    text-decoration: underline;
}

#blindTabContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;
    max-width: 50em;
    margin-left: 2em;
}