#profileCard {

    margin: 1%;


    #infosContainer {
        margin-top: 2em;

        #statsProfile {
            display: flex;
            flex-direction: row;
            
            #OtherStats {
                margin-left: 20%;
            }
        }
    }
}

#tournamentsPlayer {
    max-width: 60%;
    margin: 1em;
    margin-top: 5em;

    h3 {
        color: white;
    }
}

#profileContainer {
    display: flex;
    flex-direction: row;
}