#profileCard {

    margin: 1%;
    background: rgba(33, 37, 41, 0.71);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgb(49, 49, 49);

    #stackInfo {
        padding: 1em;
    }

    #pp {
        border-radius: 16em;
        height: 80px;
        width: 80px;
        margin-right: 0.5em;

        &:hover {
            opacity: 0.5;
        }
    }

    #infosContainer {
        margin-top: 2em;

        #textStats {
            margin: 0.5em;
        }

        #statsProfile {
            display: flex;
            flex-direction: row;
            
            #OtherStats {
                margin-left: 20%;
            }
        }
    }
}

#tournamentsPlayer {
    max-width: 90%;
    margin: 1em;
    margin-top: 5em;

    h3 {
        color: white;
    }
}

#profileContainer {
    display: flex;
    flex-direction: row;
}



#allPPContainer {
    display: flex;
    flex-direction: column;

    #PPContainer {
        display: flex;
        flex-direction: row;

        #selectButton {
            height: 2.5em;
            margin: 1em;
        }

        #allPP {
            border-radius: 16em;
            height: 80px;
            width: 80px;
        }
    }
}


#avatarBody {
    color: white;
}