#profileCard {

    margin: 1%;


    #infosContainer {
        margin-top: 2em;
    }
}

#tournamentsPlayer {
    max-width: 60%;
    margin: 1em;
    margin-top: 5em;

    #tournamentsPlayerTable {

    }

    h3 {
        color: white;
    }
}