#allTournaments {
    margin: 0.5em;
    margin-top: 4.5em;

    #allTournamentsTitle {
        margin: 1em;
    }

    #tournamentsCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

#tournament {

    margin: 2em;

    #dropdown, #button {
        margin-left: 1em;
    }
    
    #cardButtons {
        display: flex;
        flex-direction: row;
    }
    
}