#allTournaments {
    margin: 0.5em;
    margin-top: 4em;

    #allTournamentsTitle {
        margin: 1em;
    }

    #tournamentsCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

#tournament {

    margin: 1em;

    #dropdown, #button {
        margin-left: 1em;
    }
    
    #cardButtons {
        display: flex;
        flex-direction: row;
    }
    

    #tournamentCard {
        height: 12.5em;
        width: 20em;
        margin: 2%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: rgba(0, 0, 0, 0.57);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.9px);
        -webkit-backdrop-filter: blur(6.9px);
        border: 1px solid rgba(0, 0, 0, 0.15);

        #stack {
            padding: 0.5em;
        }
    }

}