#formControl {
  display: flex;
  flex-direction: row;
}

#oneBlindImage {
  height: 50px;
}

body {
  background-color: #26292B;
}

h2, #label, p, h4 {
  color: white;
}

#formGroup {
  margin: 1em;
}

li {
  margin-left: 1em;
  margin-top: 0.5em;
}

#alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#alert #alertText {
  color: black;
}

#modalText {
  color: black;
}

#createTournament {
  width: 25em;
}
#createTournament #addPlayer {
  display: flex;
  flex-direction: row;
}
#createTournament #form-container {
  display: flex;
  flex-direction: row;
}
#createTournament #players {
  color: white;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}
#container #logo {
  height: 300px;
  width: 300px;
}
#container p {
  color: white;
  margin: 1em;
}

#homeContainer {
  display: flex;
  flex-direction: row;
  margin-left: 1.5em;
  margin-top: 5em;
}

#createBlindModel {
  margin-left: 10em;
}
#createBlindModel #addStep {
  display: flex;
  flex-direction: row;
}
#createBlindModel #formControl {
  margin: 0.5em;
  margin-bottom: 1em;
}
#createBlindModel #addButton {
  margin: 0.5em;
  height: 2.5em;
}
#createBlindModel #step {
  color: white;
}
#createBlindModel #formButtons {
  margin: 0.3em;
}

#allTournaments {
  margin: 0.5em;
  margin-top: 4.5em;
}
#allTournaments #allTournamentsTitle {
  margin: 1em;
}
#allTournaments #tournamentsCards {
  display: flex;
  flex-direction: row;
}

#tournament {
  margin: 2em;
}
#tournament #dropdown, #tournament #button {
  margin-left: 1em;
}
#tournament #cardButtons {
  display: flex;
  flex-direction: row;
}

#modelName {
  text-decoration: underline;
}

#blindTabContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6em;
  max-width: 50em;
}

#timerButtons {
  margin: 5px;
}

#info {
  font-size: 35px;
}

#sliderContainer {
  width: 100%;
  margin-top: 2em;
}
#sliderContainer #slider {
  width: 75%;
  direction: rtl;
}

#tournamentContainer {
  display: flex;
  flex-direction: row;
}

#blindContainer {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}
#blindContainer #blindNumberContainer {
  text-align: center;
}
#blindContainer #blindNumber {
  font-size: 10em;
}

#tournamentPlayersContainer {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  width: 30em;
  margin-top: 5em;
}
#tournamentPlayersContainer #player {
  padding-left: 1em;
  padding-top: 1em;
  font-size: x-large;
}

#finalGif {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#avStackContainer {
  margin-top: 5em;
  max-width: 40em;
}
#avStackContainer #topAvStackContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#avStackContainer #recaveButton {
  margin-left: 1em;
  margin-bottom: 0.5em;
  position: relative;
  right: 1em;
}
#avStackContainer #avStackNumberContainer {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}
#avStackContainer #avStackNumberContainer #avStackNumber {
  font-size: 10em;
  text-align: center;
}

/*# sourceMappingURL=output.css.map */
